<div class="easySubscriptionWidget">
  <div class="easySubscriptionWidgetIn">
      <a class="btn button" href="https://{{shop.permanent_domain}}/tools/easysubscriptions" target="_blank">Manage Subscriptions</a>
  </div>
</div>
<style>
  .easySubscriptionWidget .easySubscriptionWidgetIn button.button {
    background-color: {{ block.settings.pcolor }};
    border-color: {{ block.settings.pcolor }};
  }
  .easySubscriptionWidgetModel .easySubscriptionWidgetModelInner .easySubscriptionWidgetModelIn .easySubscriptionWidgetModelInstatusfilters span.easySubscriptionlinks.active {
    color: {{ block.settings.pcolor }};
  }
</style>
{% schema %}
  {
    "name": "Easy Subscription",
    "target": "section",
    "enabled_on": {
      "templates": ["customers/account"]
    },
    "stylesheet": "easyaccount.css",
    "javascript": "easyaccount.js",
    "available_if": "{{ app.metafields.plan.conditional }}",
    "settings": [
        { 
        "label": "Primary Color",
        "id": "pcolor",  
        "type": "color",
        "default": "#2D292A"
        }
    ]
  }
{% endschema %}